<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
        <a href="/">
            <div class="title">
                <img src="{{ url_for('static', filename = 'logos/RoostLogo.png') }}" alt="ROOST" style="width: 70px; height: 70px; margin-left:10px; margin-right: 0px; margin-top: 15px">
			    <h1 style="font-size: 40px;"> ROOST </h1>
            </div>
         </a>
        <div>
            <form action="/search" method="POST">
                <div class="center">
                    <input type="search" name="gameQuery" id="gameSearch" placeholder="Search for a game"/>
                    <button class="btn btn-success" id="submitButton" value="submit">Search</button>
                </div>
            </form>
        </div>
        <div class="btn-group">
            
        {% if user %}
        <button id="loginButton">
            <div>
                    <p style="margin:5px 0px"><a href="/logout">Logout</a></p>
            </div>
        </button>
        {% endif %}
        <button id="loginButton">
            <div>
                {% if user %}
                    <p style="margin:5px 0px"><a href="/user_home">Profile</a></p>
                {% else %}
                    <p style="margin:5px 0px"><a href="/login">Login</a></p>
                {% endif %}
            </div>
        </button>
        </div>
    </div>
</nav>